<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="text-responsive">My Product</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="project/list" routerLinkActive="is-active">
        <mdb-icon far icon="newspaper" class="menu-icon"></mdb-icon><span class="text-responsive">Project</span>
      </a>
      <a mat-list-item routerLink="employee/list" routerLinkActive="is-active">
        <mdb-icon fas icon="user-alt" class="menu-icon"></mdb-icon><span class="text-responsive">Employee</span>
      </a>

      <a mat-list-item routerLinkActive="is-active" (click)="logout()">
        <mdb-icon fas icon="sign-out-alt" class="menu-icon"></mdb-icon><span class="text-responsive">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
      </span>
      <span class="head-menu"></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
