.sidenav-container {
    height: 100%;
  }
  
  .mat-toolbar.mat-primary {
    background: #33b5e5 !important;
    color: #fff;
  }
  
  .sidenav .mat-toolbar {
    background: #33b5e5 !important;
    color: #fff;
  }
  
  .sidenav {
    width: 230px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .head-menu {
    flex: 1 1 auto;
  }
  
  .hidden {
    display: none;
  }
  
  [class^='mat-list-'] {
    &:hover:active {
      background: rgb(3, 149, 247) !important;
    }
    &:focus,
    .mat-list-text {
      background: #33b5e5 !important;
      color: #fff;
    }
  }
  
  .mat-nav-list :hover {
    background: #33b5e5 !important;
    color: #fff;
  }
  
  .menu-icon {
    padding-right: 10px;
  }
  
  ::ng-deep button.mat-menu-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    /** set line height to desired height */
    line-height: 18px;
    /** set height to auto */
    height: auto;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
  }
  
  ::ng-deep div.mat-menu-panel {
    min-width: 112px;
      /** set width to 500px */
    max-width: 500px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 48px);
    border-radius: 4px;
    outline: 0;
  }
  
  .user-name {
    padding-top: 10px;
    padding-left: 10px;
  }
  
  hr {
    color: black;margin-top: 0px;
  }
  
  .white-space-normal {
    white-space: normal;
  }
  
  .padding-bottom-10 {
    padding-bottom: 10px !important;
  }
  
  .profile-block-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  
  .padding-top-10 {
    padding-top: 10px;
  }
  
  .profile-block {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-top: 25px;
  }
  
  .logout-button {
    padding: 15px; 
    font-size: 20px;
  }
  
  .padding-left-10 {
    padding-left: 10px;
  }
  
  .notification-icon {
    font-size: 20px;
  }
  
  .notification-header {
    white-space: normal; 
    padding: 15px;
    font-size: 20px;
  }
  
  .notification-item-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  
  .notification-content {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .action-button {
    padding: 10px;
    margin-right: 15px;
  }
  
  .is-active {
    background: #33b5e5 !important;
    color: #fff;
  }
  
  /* Large devices (desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .sidenav {
      width: 250px;
    }
  
    /*1rem = 16px*/
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .sidenav {
      width: 300px;
    }
  
    /*1rem = 16px*/
  }
  
  @media only screen and (min-width: 1400px) {
    .sidenav {
      width: 400px;
    }
  
    /*1rem = 16px*/
  }
  
  @media only screen and (min-width: 1600px) {
    .sidenav {
      width: 500px;
    }
  
    /*1rem = 16px*/
  }
  
  